.example-container {
    height: 400px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
.container{
    width: 700px;
    justify-content: center;
    display: relative;
}
.example-container{
    width: 1400px;
}