<div id="showContent" >
<button mat-icon-button color="primary" aria-label="Example icon button with a home icon" (click)="printTest()" *ngIf="!isBooking">
  <mat-icon>print</mat-icon>
</button>
<div id="content" #content *ngIf="!isBooking">
  <header *ngIf="trip" class="frame-parent mb-2" id="report">
    <div class="frame">
      <div class="frame1">
        <b class="xe-24-phng">XE {{trip.seats.maxslot}} PHÒNG BẢY TÀU.</b>
        <div class="nhaxebaytaucomvn">
          <span>(</span>
          <span class="nhaxebaytaucomvn1">nhaxebaytau.com.vn</span>
          <span>)</span>
        </div>
        <div class="nhaxebaytaucomvn">0977949477</div>
      </div>
    </div>
    <div class="frame2">
      <div class="frame3">
        <div class="thi-gian-khi-container">
          <p class="thi-gian-khi">Thời Gian Khởi Hành:</p>
          <p class="thi-gian-khi">{{trip.time.start_day}}, {{trip.time.start_time}}</p>
        </div>
        <div class="danh-sch-chuyn-container">
          <p class="thi-gian-khi">DANH SÁCH CHUYỂN:</p>
          <p class="thi-gian-khi">{{trip.name}}</p>
        </div>
        <div class="thi-gian-khi-container">
          <p class="thi-gian-khi">Xe: {{trip.seats.number_plate}}</p>
          <p class="thi-gian-khi">{{trip.seats.name}} </p>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="col-md-12" id="seat-with-floor" *ngIf="isTwoFloor" >
    <div class="row d-flex col-md-10 cardArrange2">
    <div class=" d-flex align-items-center flex-column col-md-4" >
    <mat-card class="example-card empty" *ngFor="let a of pagedSeatNo | slice:0:6 " [id] = "a.name_slot"  (click)="IsChoose(a.name_slot)">
      <mat-card-header>
        <mat-card-title-group>
          <!-- <mat-card-title>Shiba Inu</mat-card-title> -->
          <mat-card-subtitle style="font-size: 10px; color:black;" >{{a.name_slot}}</mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content *ngIf="!a._available ">  
        KH: {{mappingData(a.name_slot).name_customer}}<br>
        SĐT: {{mappingData(a.name_slot).number_phone}}<br>
        {{mappingData(a.name_slot).address}}   
      </mat-card-content>
    </mat-card> 
  </div>

  <div class=" d-flex align-items-center flex-column col-md-4" >
    <mat-card class="example-card empty" *ngFor="let a of pagedSeatNo | slice:6:12 " [id] = "a.name_slot"  (click)="IsChoose(a.name_slot)">
      <mat-card-header>
        <mat-card-title-group>
          <!-- <mat-card-title>Shiba Inu</mat-card-title> -->
          <mat-card-subtitle style="font-size: 10px; color:black;" >{{a.name_slot}}</mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content *ngIf="!a._available ">  
        KH: {{mappingData(a.name_slot).name_customer}}<br>
        SĐT: {{mappingData(a.name_slot).number_phone}}<br>
        {{mappingData(a.name_slot).address}}   
      </mat-card-content>
    </mat-card> 
  </div>

  <div class=" d-flex align-items-center flex-column col-md-4" >
    <mat-card class="example-card empty" *ngFor="let a of pagedSeatNo | slice:12:18 " [id] = "a.name_slot"  (click)="IsChoose(a.name_slot)">
      <mat-card-header>
        <mat-card-title-group>
          <!-- <mat-card-title>Shiba Inu</mat-card-title> -->
          <mat-card-subtitle style="font-size: 10px; color:black;" >{{a.name_slot}}</mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content *ngIf="!a._available ">  
        KH: {{mappingData(a.name_slot).name_customer}}<br>
        SĐT: {{mappingData(a.name_slot).number_phone}}<br>
        {{mappingData(a.name_slot).address}}   
      </mat-card-content>
    </mat-card> 
  </div>
</div>
    <div class="row d-flex cardArrange1">
        <mat-card class="example-card empty" *ngFor="let a of pagedSeatNo | slice:18:23 " [id] = "a.name_slot" (click)="IsChoose(a.name_slot)">
          <mat-card-header>
            <mat-card-title-group>
              <!-- <mat-card-title>Shiba Inu</mat-card-title> -->
              <mat-card-subtitle style="font-size: 10px;color:black">{{a.name_slot}}</mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content *ngIf="!a._available">
            KH: {{mappingData(a.name_slot).name_customer}}<br>
            SĐT: {{mappingData(a.name_slot).number_phone}}<br>
            {{mappingData(a.name_slot).address}}   
          </mat-card-content>
        </mat-card>
    </div>
  </div>
</div>
    <!-- <div class=" d-flex align-items-end flex-column">
      <mat-card class="example-card empty" *ngFor="let a of pagedSeatNo | slice:12:18 " [id] = "a.name_slot" (click)="IsChoose(a.name_slot)">
        <mat-card-header>
          <mat-card-title-group>
            
            <mat-card-subtitle style="font-size: 10px;color:black">{{a.name_slot}}</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content *ngIf="!a._available">
          KH: {{mappingData(a.name_slot).name_customer}}<br>
          SĐT: {{mappingData(a.name_slot).number_phone}}<br>
          {{mappingData(a.name_slot).address}}   
        </mat-card-content>
      </mat-card>
    </div> -->

    <!-- <div class="">
      <mat-card class="example-card empty" *ngFor="let a of pagedSeatNo | slice:18:24 " [id] = "a.name_slot" (click)="IsChoose(a.name_slot)">
        <mat-card-header>
          <mat-card-title-group>
            
            <mat-card-subtitle style="font-size: 10px;color:black">{{a.name_slot}}</mat-card-subtitle>

          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content *ngIf="!a._available">
          KH: {{mappingData(a.name_slot).name_customer}}<br>
          SĐT: {{mappingData(a.name_slot).number_phone}}<br>
          {{mappingData(a.name_slot).address}}   
        </mat-card-content>
      </mat-card>
    </div> -->

    <div class="col-md-12" id="seat-no-floor" *ngIf="!isTwoFloor">
      <div class="row d-flex col-md-10 cardArrange2">
      <div class=" d-flex align-items-center flex-column col-md-3" >
        <mat-card class="example-card empty" *ngFor="let a of pagedSeatNo | slice:0:6" [id] = "a.name_slot"  (click)="IsChoose(a.name_slot)">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-subtitle style="font-size: 10px; color:black;" >{{a.name_slot}}</mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content *ngIf="!a._available ">  
            KH: {{mappingData(a.name_slot).name_customer}}<br>
            SĐT: {{mappingData(a.name_slot).number_phone}}<br>
            {{mappingData(a.name_slot).address}}   
          </mat-card-content>
        </mat-card> 
      </div>

      <div class=" d-flex align-items-center flex-column col-md-3" >
        <mat-card class="example-card empty" *ngFor="let a of pagedSeatNo | slice:6:12" [id] = "a.name_slot"  (click)="IsChoose(a.name_slot)">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-subtitle style="font-size: 10px; color:black;" >{{a.name_slot}}</mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content *ngIf="!a._available ">  
            KH: {{mappingData(a.name_slot).name_customer}}<br>
            SĐT: {{mappingData(a.name_slot).number_phone}}<br>
            {{mappingData(a.name_slot).address}}   
          </mat-card-content>
        </mat-card> 
      </div>

      <div class=" d-flex align-items-center flex-column col-md-3" >
        <mat-card class="example-card empty" *ngFor="let a of pagedSeatNo | slice:12:18" [id] = "a.name_slot"  (click)="IsChoose(a.name_slot)">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-subtitle style="font-size: 10px; color:black;" >{{a.name_slot}}</mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content *ngIf="!a._available ">  
            KH: {{mappingData(a.name_slot).name_customer}}<br>
            SĐT: {{mappingData(a.name_slot).number_phone}}<br>
            {{mappingData(a.name_slot).address}}   
          </mat-card-content>
        </mat-card> 
      </div>

      <div class=" d-flex align-items-center flex-column col-md-3" >
        <mat-card class="example-card empty" *ngFor="let a of pagedSeatNo | slice:18:24" [id] = "a.name_slot"  (click)="IsChoose(a.name_slot)">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-subtitle style="font-size: 10px; color:black;" >{{a.name_slot}}</mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content *ngIf="!a._available ">  
            KH: {{mappingData(a.name_slot).name_customer}}<br>
            SĐT: {{mappingData(a.name_slot).number_phone}}<br>
            {{mappingData(a.name_slot).address}}   
          </mat-card-content>
        </mat-card> 
      </div>
    </div>
    </div>
  
  </div>
  <div class="row">
    <div class="d-flex justify-content-end">
      <button mat-button matStepperNext >Tiếp</button>
    </div>
  </div>
<mat-paginator
  (page)="handlePage($event)"
  [length]="length"
  [pageSize]="pageSize"
  *ngIf="!isBooking"
>
</mat-paginator>
</div>





