$main-height: 40px;
$main-width: 1250px;
@mixin properties{
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px;
    font-family: Lexend;
    color: #22493b;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
}
@mixin init_menu{
    height: 40px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    padding: 8px;
    background-color: #22493b;
    svg path:first-child {
        fill: #fff;
    }
    svg path:last-child {
        fill: #fff;
    }
    margin-left:  10%;
}
@mixin init_span{
    height: 17px;
    flex-grow: 1;
    font-family: Lexend;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    margin-left:  10%;
}

.menu-header{
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
}
svg path:first-child {
    fill: gray;
    background-color: gray !important;
}

$color-background-clicked:  #e2f1ef;
$radius-top:20px;
$radius-bottom: 20px;
$color-menu:  #22493b;
$color-news-clicked: #22493b;
body{

    // padding: 0 14px 0 0;
    background-color: #e2f1ef;

        width: 100%;
        height: 100%;

}
.container1{

    display: flex;
    padding-left: 0;
    margin-left: 0%;
    margin-right: 0%;
}
.menu-certi{
    @include init_menu;
}
.menu-location{
    @include init_menu;
}
.menu-news{
    @include init_menu;
}
.menu-list{
    height: 40px;
    align-self: stretch;
    display: block;
    margin-left:  10%;
    align-items: center;
    gap: 8px;
    padding: 2px;
    background-color: #22493b;
    svg path:first-child {
        fill: #fff;
    }
    svg path:last-child {
        fill: #fff;
    }
}
.list-menu{
    @include init_menu;
}
.certi{
    @include init_span;
}
.location{
    @include init_span;
}
.news{
    @include init_span;
}
.list{
    @include init_span;
}

.Frame-1858 {
    width: 22%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    margin: 0 16px 0 0;
    // padding: 16px 0 16px 16px;
    background-color: #22493b;
}
.Frame-1862 {

    position: relative;
    height: 65px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    padding: 0;
}
.material-symbols-outlined{
    width: 40px;
    height: 40px;
    flex-grow: 2;
    color: white ;
}

.menu-item {
    height: 38px;
    align-self: stretch;
    flex-grow: 0; 
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 15%;
    gap: 8px;
    padding: 10px;
    color: #22493b;
    font-weight: 500;
}
.active-spot {

    width: 8px;
  
    height: 8px;
  
    flex-grow: 0;
  
    background-color: #ed6c02;
  
  }
.menu-item-list{
    height: 40px;
    align-self: stretch;
    flex-grow: 0;
    display: flex ;
    flex-direction: column !important;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    padding: 8px;
}

.infor{
    height: 17px;
    flex-grow: 1;
    font-family: Lexend;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: $color-menu; 
}
.material-symbols-outlined{
    width: 33px;
    height: 20px;
}
.active{
    height: 40px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    padding: 8px;
    background-color: #e2f1ef;
    border-top-left-radius: $radius-top;
    border-bottom-left-radius: $radius-bottom;
    span{
        color: #22493B;
    }
    svg path:first-child {
        fill: #22493B;
    }
    svg path:last-child {
        fill: #22493B;
    }
}
.active-menu {
    width: 238px ;
    height: 150px ;
    gap: 8px;
    padding: 8px;
    background-color: #e2f1ef;
    border-top-left-radius: $radius-top;
    border-bottom-left-radius: $radius-bottom;
    span{
        color: #22493B;
    }
    svg path:first-child {
        fill: #22493B;
    }
    svg path:last-child {
        fill: #22493B;
    }

}

.active-title{
    height: 17px;
    flex-grow: 1;
    font-family: Lexend;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #22493b;
}