
  <mat-stepper [linear]=true #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup" >
        <div class="row">
          <div class="col-md-3">
            <mat-form-field>
                <mat-label>Số điện thoại</mat-label>
                <input matInput  [formControl]="phoneCtrl"
                [matAutocomplete]="auto" placeholder="12456789"  name="phoneNumber" type="number" required>
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (onSelectionChange)="autoFill(option)">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          <div class="col-md-3">
        <ng-template matStepLabel>Điền thông tin khách hàng</ng-template>
        <mat-form-field>
          <mat-label>Tên</mat-label>
          <input matInput placeholder="Nguyễn Văn A" formControlName="nameCtrl" name="name" required >
        </mat-form-field>
      </div>
        <div class="col-md-3">
          <mat-form-field>
            <mat-label>Địa điểm đón</mat-label>
            <input matInput formControlName="addressCtrl" name="address1" placeholder="1 Điện Biên Phủ, Quận 1, Tp.HCM"
                   required>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <mat-label>Địa điểm xuống</mat-label>
            <input matInput formControlName="address2Ctrl" name="address1" placeholder="50 Điện Biên Phủ, Quận 1, Tp.HCM"
                   required>
          </mat-form-field>
        
        </div>
        
      </div>
      <div class="row">
        <div class="d-flex justify-content-end">
          <button mat-button matStepperNext (click)="saveCustomer()">Tiếp</button>
        </div>
      </div>
      </form>
      
    </mat-step>
    <!-- #docregion label -->
    <mat-step [stepControl]="secondFormGroup" label="Chọn chuyến xe">
    <!-- #enddocregion label -->
      <form [formGroup]="secondFormGroup">
        <div class="row">
          <div class="col-md-3">
        <mat-form-field >
            <mat-label>Chọn chuyến đi</mat-label>
            <mat-select disableRipple matInput formControlName="tripCtrl" #teams (valueChange)="onSelected(teams.value)"  >
              <mat-option *ngFor="let tripName of uniqueTrips" [value]="tripName.name">{{tripName.name}}</mat-option>       
            </mat-select>
            <!-- <mat-label *ngFor="let time of timeTrip"> {{time}}</mat-label> -->
          </mat-form-field> 
        </div>

        <div class="col-md-3">
          <mat-form-field >
            <mat-label>Chọn thời gian</mat-label>
            <mat-select disableRipple matInput formControlName="timeCtrl" #place (valueChange)="onSelectedPlace(place.value)" >
              <mat-option *ngFor="let tripName of tripInfo2" [value]="tripName.time.id">{{tripName.time.start_day}}, {{tripName.time.start_time}}</mat-option>       
            </mat-select>       
          </mat-form-field> 
        </div> 
        <!-- for enhance do not delete -->
        <!-- <div class="col-md-3">
          <mat-form-field >
            <mat-label>Chọn nơi đến</mat-label>
            <mat-select disableRipple matInput  #place (valueChange)="onSelectedPlace(place.value)" >
              <mat-option *ngFor="let tripName of getUniqueTrips(trips)" [value]="tripName.key">{{tripName.place}}</mat-option>       
            </mat-select>       
          </mat-form-field> 
        </div>  -->
      
          <!-- <div class="col-md-6"><app-trip-table *ngIf="search" [tripTime]="getTrip()" (chooseEvent)="receiveNumber($event)"></app-trip-table></div>
        </div>
        <button mat-raised-button color="primary" (click)="searchTrip()">Search</button>
        <div> -->
        </div>
          <div class="row">
            <div class="col-md-6 d-flex justify-content-start">
              <button mat-button matStepperPrevious>Trở lại</button>
            </div>
            <div class="col-md-6 d-flex justify-content-end">
            <button mat-button matStepperNext (click)="isNextStep()">Tiếp</button>
          </div>
        </div>
        
      </form> 
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup" label="Chọn ghế khách hàng">
        <!-- #enddocregion label -->
          <form [formGroup]="thirdFormGroup" >
             <app-seat-trip formControlName="seatCtrl"  *ngIf="isBook" [client]="client" [desId]="selectDes" [tripData]="trip" (confirmEvent)="receiveReceipt($event)" ></app-seat-trip>          
            <div class="row">
              <div class="col-md-6 d-flex justify-content-start">
              <button mat-button matStepperPrevious (click)="getBackToTrip()">Trở lại</button>
            </div>
            <div class="col-md-6 d-flex justify-content-end">
              <button mat-button matStepperNext (click)="getTicket()">Tiếp</button>
            </div>
            </div>
          </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <div *ngIf="!ticketOn"class="alert alert-danger" >{{message}}</div>
      <app-receipt *ngIf="ticketOn" [receipt]="receiptNew"></app-receipt>
      <div class="row">
        <div class="col-md-6 d-flex justify-content-start">
        <button mat-button matStepperPrevious (click)="getBackToBook()">Trở lại</button>
      </div>
      <div class="col-md-6 d-flex justify-content-end">
        <button mat-button (click)="stepper.reset()">Bắt đầu lại</button>
      </div>
      </div>
    </mat-step>
  </mat-stepper>
  
  
  <!-- Copyright 2023 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at https://angular.io/license -->
      