<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button> -->
  <mat-stepper [linear]=true #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <div class="row">
          <div class="col-md-4">
        <ng-template matStepLabel>Điền thông tin khách hàng</ng-template>
        <mat-form-field>
          <mat-label>Tên</mat-label>
          <input matInput placeholder="Nguyễn Văn A" formControlName="nameCtrl" required>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field>
            <mat-label>Số điện thoại</mat-label>
            <input matInput placeholder="012456789" formControlName="phoneCtrl" name="phoneNumber" type="number" required >
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <mat-label>Địa chỉ</mat-label>
            <input matInput formControlName="addressCtrl" placeholder="1 Điện Biên Phủ, Quận 1, Tp.HCM"
                   required>
          </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperNext>Tiếp</button>
        </div>
      </div>
      </form>
    </mat-step>
    <!-- #docregion label -->
    <mat-step [stepControl]="secondFormGroup" label="Chọn chuyến xe">
    <!-- #enddocregion label -->
      <form [formGroup]="secondFormGroup">
        <div class="row">
          <div class="col-md-3">
        <mat-form-field >
            <mat-label>Chọn nơi đi</mat-label>
            <mat-select disableRipple matInput formControlName="tripCtrl" #teams (valueChange)="onSelected(teams.value)" >
              <mat-option *ngFor="let tripName of tripModel" [value]="tripName.id">{{tripName.name}}</mat-option>       
            </mat-select>
            <!-- <mat-label *ngFor="let time of timeTrip"> {{time}}</mat-label> -->
          </mat-form-field> 
        </div>

        <div class="col-md-3">
          <mat-form-field >
            <mat-label>Chọn nơi đến</mat-label>
            <mat-select disableRipple matInput formControlName="placeCtrl" #place (valueChange)="onSelectedPlace(place.value)" >
              <mat-option *ngFor="let tripName of trips" [value]="tripName.key">{{tripName.place}}</mat-option>       
            </mat-select>       
          </mat-form-field> 
        </div> 
          <!-- <mat-card-footer *ngFor="let tripName of trips"> {{tripName.Start_time}}</mat-card-footer>  -->
          <div class="col-md-6"><app-trip-table *ngIf="search" [tripTime]="getTrip()" (chooseEvent)="receiveNumber($event)"></app-trip-table></div>
        </div>
        <button mat-raised-button color="primary" (click)="searchTrip()">Search</button>
        <div>
          <button mat-button matStepperPrevious>Trở lại</button>
          <button mat-button matStepperNext >Tiếp</button>
        </div>
      
      </form> 
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup" label="Chọn ghế khách hàng">
        <!-- #enddocregion label -->
          <form [formGroup]="thirdFormGroup">
             <app-seat-trip [desId]="selectDes" [tripId]="selectTrip" (confirmEvent)="receiveReceipt($event)"></app-seat-trip>          
            <div>
              <button mat-button matStepperPrevious>Trở lại</button>
              <button mat-button matStepperNext >Tiếp</button>
            </div>
          </form>
        </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <app-receipt [receipt]="receiptNew"></app-receipt>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
  
  
  <!-- Copyright 2023 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at https://angular.io/license -->