.title{
    font-size: 20px;
    color: #22493b;
    font-weight: bold;
    text-align: justify;
    justify-content: center;
    align-items: center;
}
.col{
    border-right: black solid 1px;
}
.title-sub{
    font-size: 18px;
    color: #22493b;
    text-align: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.day-content{
    color: #26282b;
    font-size: 16px;
    text-align: center;
    justify-content: center;
}
.Content {
    width: 266px;
    height: 222px;
    flex-grow: 0;
    font-family: Lexend;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #1b1d1f;
  }
  .section-placeholder ::placeholder {
    height: 21px;
    flex-grow: 1;
    font-family: Lexend;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #9ea4aa;
}
.z-3{
    position: fixed !important;
    top: 0 ;
    right: 0 ;
    bottom: 0 ;
    left: 0 ;
  }
  .modal_overlay{
    position: absolute !important;
    width: 100%;
    height: 100%;
    background-color: rgba(30,30,30,0.4);
  }
  .modal_inner {
    position: relative;
    width: 735px;
    height: 612px;
    // margin: 41px 342px 144px 120px;
    border-radius: 12px;
    background-color: #fff;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    z-index: 3
  }
  $radius: 12px;
  .form_heading  {
    width: 100%;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    margin: 0 0 16px;
    padding: 16px;
    background-color: #e2f1ef;
    border-top-right-radius: $radius;
    border-top-left-radius: $radius;
  }
  .Title {
    height: 19px;
    flex-grow: 1;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #22493b;
  }
  .inner {
    width: 727px;
    height: 456px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    margin: 16px 0 12px;

    padding: 0;
  }
  .inner-content {
    width: 249px;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
    margin: 93px 239px 77px;
    padding: 0;
  }
  .cancel{
    width: 28px;
    height: 21px;
    flex-grow: 0;
    font-family: Lexend;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #22493b;
  }
  .add {
    width: 38px;
    height: 21px;
    flex-grow: 0;
    font-family: Lexend;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }
  .material-symbols-outlined{

    color: white ;
}
button#cancel:hover{
    background-color: red !important;
    color: white !important;
    border-radius: $radius;
  }
  .calendar{
    z-index: 1;
  }
  mat-form-field {
    margin-right: 12px;
  }
  