.seats {
    width: 100%;
}
.row {
    display: flex;  
    justify-content: center;
    margin: 0 12px;
  }
.handle {
float: left;
width: 100%;
}
.handle img {
float: right;
}
.row1  {
    float: left;
    width: 100%; 
    align-items: center;
}


.seat_plan_wrap {
    border: 3px solid #feb236;
    padding: 40px;
    text-align: center;
    
}  
.seat_plan_wrap.h6 {
   margin: 0 12px;
    
}
.seat_plan {
    height: 270px;
}
li {
    list-style: none;
}


.row {
    display: flex;
    align-items: center;
  }

  .seat {
    background-color: #ffffff;
    height: 50%;
    width: 15%;
    margin: 3px;
    font-size: 80%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 50px;
    border-style: solid;
    border-color:burlywood;
    text-align: center;

    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
  }

  .seat-card:not(.sold):hover {
    cursor: pointer;
    transform: scale(1.2);
  }

  .seat:not(.sold):hover {
    cursor: pointer;
    transform: scale(1.2);
  }

  .seat.last {
    background-color: #ffffff;
    height: 50%;
    width: 15%;
    margin: 3px;
    font-size: 80%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-style: solid;
    border-color:burlywood;
    
  
  }

  .seat-card.selected {
    background-color: green;
  }
  
  .seat-card.booked {
    background-color: #f00606;
  }

  .seat.last.selected {
    background-color: green;
  }
  
  .seat.last.booked {
    background-color: #f00606;
  }

  .lauTren{
    background-color: #feb236;
    transition: transform 0.3s;
  }

  .confirm{
    background-color: green;
  }

  .seatArrange{
    margin-left: 50px;
  }
  