
<div class="container-fluid pt-5 mb-5" >
  <div *ngIf="!isStarted || !isEnough"class="alert alert-danger" >{{message}}</div>
    <div class="row justify-content-center" *ngIf="isStarted && isEnough">
      <div class="col-md-9 ">
      <div class="seat_plan_wrap" >
        <div *ngIf="alert"class="alert alert-danger" >{{message}}</div>
        <div class="row">
          <div class="col-md-6" id="seat-with-floor" *ngIf="isMoreThanOneFloor()" >
            <h6>Lầu dưới </h6>
            <div class="seats" >                       
              <div class="row"  >                        
                <div  *ngFor="let seat of seatNo1 | slice:0:18 ;let i = index"  [id]="seat.name_slot" [title]="seat.name_slot" (click)="IsChoose(seat.name_slot)" class="seat" >{{ seat.name_slot }}</div>
              </div>    
              <div class="row">                        
                <div  *ngFor="let seat of seatNo1 | slice:18:23 ;let i = index"  [id]="seat.name_slot" [title]="seat.name_slot" (click)="IsChoose(seat.name_slot)" class="seat last" >{{ seat.name_slot }}</div>
              </div>       
            </div>
          </div>
          <div class="col-md-12" id="seat-no-floor" *ngIf="!isTwoFloor">
            <h6>Ghế</h6>
            <div class="seats" >                       
              <div class="row nofloor" >                        
                <div  *ngFor="let seat of seatNo1;let i = index"  [id]="seat.name_slot" [title]="seat.name_slot" (click)="IsChoose(seat.name_slot)" class="seat">{{ seat.name_slot }}</div>
              </div>   
            </div>
          </div>    
          <div class="col-md-6" id="floor-2" style="display: none;"*ngIf="isTwoFloor">
            <h6>Lầu trên </h6>
            <div class="seats" >         
              <div class="row" >
                <div  *ngFor="let seat of seatNo1 | slice:23:41 ;let i = index"  [id]="seat.name_slot" [title]="seat.name_slot" (click)="IsChoose(seat.name_slot)" class="seat"  >{{ seat.name_slot }}</div>
              </div> 
              <div class="row"  >                        
                <div  *ngFor="let seat of seatNo1 | slice:41:46 ;let i = index"  [id]="seat.name_slot" [title]="seat.name_slot" (click)="IsChoose(seat.name_slot)" class="seat last" >{{ seat.name_slot }}</div>
              </div>                   
            </div>    
          </div>
        </div>
      </div>
      <div class="row" *ngIf="isTwoFloor">
        <div class="col-md-6 d-flex justify-content-center">

          <button class="btn mt-3 btn-success btn-sm btn-block px-5 py-2" (click)="onFloor2()">Lầu trên</button>
        </div>
      </div>
        <div class="col-md-6 d-flex justify-content-center ">
          <button (click)="confirmJourney()"class="btn mt-3 btn-sm btn-primary btn-block px-5 py-2">Confirm</button>
      </div>
      
      <hr>
        <div class="row ">
         
        </div>
          <div class="total  bg-default">
            <b>Tổng tiền: {{total}}.000</b>
          </div>      
       
      </div>
      </div>
    </div>
  