
<table matSort >
  <tr>
    <th >Tên khách hàng </th>
    <th >SDT khách hàng</th>
    <th >Địa điểm</th>     
    <th >Tổng Ghế </th>
    <th >Số Ghế </th>
  </tr>

  <tr *ngFor="let ticket of ticket">
    <td>{{ticket.name_customer}}</td>
    <td>
      {{ ticket.number_phone }} 
    </td>
    <td>{{ticket.address}}</td>     
    <td>{{ticket.number_tickets}}</td>
    <td>{{ticket.seat}}</td>
  </tr>
</table>

<!-- <span *ngFor="let destination of receipt.destination">{{ destination.Start_time | date :'short'}}
</span> -->