.mat-sort-header-container {
    align-items: center;
    margin-right: 50%;
  }
  
  table {
    width: 100%; /* Ensure the table takes up the full width */
  }
  
  td {
    padding: 10px; /* Add padding to each td element */
  }
  
  /* Add additional styling if needed */
  