/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@media print{
    #showContent{
      display: none;
    }
    .mat-horizontal-stepper-header-container{
        display: none;
    }
    app-print-templ{
      display: block;
      
    }
    .example-card{
        page-break-inside: avoid;
    }
  }